{% load static %}
{% load stars_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title> <!-- Title of the page -->
    <link type="text/css" href="{% static 'stars/css/styles.css' %}" rel="stylesheet"/> <!-- Link to external CSS file -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <!-- Metadata for character encoding -->
    <link rel="shortcut icon" href="{% static 'stars/images/logo_star.png' %}" type="image/x-icon"/> <!-- Link to favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport settings for responsive design -->
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
            <div class="header">
                <ul id="mainmenu" class="mainmenu"><!-- Main menu -->
                    <li class="logo"><a href="{% url 'home' %}"><!-- Logo -->
                        <div class="logo"></div>
                    </a></li>
                    {% for m in mainmenu %}<!-- Loop for menu items -->
                        <li><a href="{% url m.url_name %}">{{m.title}}</a></li><!-- Menu item -->
                    {% endfor %}

                        {% if user.is_authenticated %}
                            <li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Logout</a></li>
                        {% else %}
                            <li class="last"><a href="{% url 'users:login' %}">Login</a> | <a href="{% url 'users:register' %}">Registration</a></li>
                        {% endif %}
                </ul>
                <div class="clear"></div><!-- Clear float -->
            </div>
            {% endblock mainmenu %}


            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <!-- Left Sidebar -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            {% if cat_selected == 0 %}
                            <li class="selected">All Categories</li><!-- Selected category -->
                            {% else %}
                            <li><a href="{% url 'home' %}">All Categories</a></li><!-- All categories link -->
                            {% endif %}

                            {% show_categories cat_selected %}<!-- All categories link -->

                            <li class="share">
                                <p>Our channel</p>
                                <a class="share-yt"
                                   href="https://www.youtube.com/"
                                   target="_blank" rel="nofollow"></a><!-- YouTube channel link -->
                            </li>
                            <li>{% show_all_tags %}</li>
                        </ul>
                    </td>
                    <!-- End of Sidebar -->
                    <td valign="top" class="content">
                        <!-- Breadcrumbs -->
                        {% block breadcrumbs %}
                        {% endblock %}

                        <!-- Content Block -->
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>
                        <!-- End of Content Block -->
                        {% block navigation %}
                        {% endblock %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p>&copy; 2024 This project has been set up for studying purposes only.
                    &laquo;Krasnokutskyi Valentyn&raquo;</p>
            </div>
        </td>
    </tr>
</table>
<!-- End of footer and page -->
</body>
</html>
